<html>
	<head>
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<style>
			form {
				border: 3px solid #f1f1f1;
			}

			
		</style>
    <meta charset="utf-8">
    <title>Find opponent</title>
	</head>
	<body>
 <a href="/" class="btn btn-primary">  Logout</a>
    
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %> 
		<form action="/findEnemy" method="post">
      <h1>Get Enemy</h1>
		  <div class="container">
			<label for="uname"><b>Find Enemy </b></label>
			<input type="text" placeholder="Enter EnemyName" name="enemy" required>
			<button type="submit" class="btn btn-success">Submit</button>
      
      
      
		  </div>
		</form>
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <p> If choosing opponent has been success press <a href="/play" class="btn btn-warning" > Next</a> to begin the battle</p>
	</body>
</html>