<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Battleship Board game</title>
    
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    
    <style>
        body        { padding-top:100px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1> Welcome to Battleship Board game</h1>

       

        <a href="/login" class="btn btn-lg btn-success">  Sign in </a>
         <p>or</p>
        <a href="/register" class="btn btn-lg btn-info">  Register</a>
    </div>

</div>
</body>
</html>