<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>List board</title>
  </head>
  <body>

  <a href="/" class="btn btn-primary">  Logout </a>
  <h1> List board</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Address/Port</th>
      <th scope="col">User name</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody id = "bodytable">
    
  </tbody>
</table>
<p id = "username"><%=useraut%></p>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io('/listboard');
      

      socket.on('connect', function(){
        
      });
      var tmp3 = document.getElementById('username').innerHTML;
      document.getElementById('username').innerHTML='';
      document.getElementById('username').innerHTML+=",,";

      socket.on('listboard', function(boardInfo){
        document.getElementById('bodytable').innerHTML='';
        document.getElementById('username').innerHTML='';
        for(var i = 0; i<boardInfo.length;i++)
        {
         if(boardInfo[i].status == 'Ready to connect')
         {
           var tmp = 'Free to choose';
           var tmp2 ='selectboard';
         }
         else
         {
           var tmp = 'Connected';
           var tmp2 ='disboard';
         }
         
         var check = false;
         for(var j = 0; j<boardInfo.length;j++) if(boardInfo[j].user == tmp3)
             check = true;
         if(check == true)
           if(boardInfo[i].user == tmp3)
             var tmp4 = '';
           else
             var tmp4 = 'disabled';
         else
           var tmp4 = '';
         
           document.getElementById('bodytable').innerHTML +='<tr><th scope=\"row\">'+(i+1)+'</th><td>'+boardInfo[i].name+'</td><td>'+boardInfo[i].user+'</td><td><button type=\"button\" onclick=\"'+tmp2+'('+i+')\" class=\"btn btn-success btn-sm\" '+tmp4+'>'+tmp+'</button></td></tr>';
           
           
        }
      });
      function selectboard(i){
        socket.emit('select board',i);
        document.getElementById('username').innerHTML+=i;
      }
      function disboard(i){
        socket.emit('disconnect board',i);
        document.getElementById('username').innerHTML+=i;
      }
      socket.on('disconnected',function(){
      });        

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <p> If you already choose a board press <a href="/findenemy" class="btn btn-warning" >Next</a></p>
    
  </body>
</html>