<html>
	<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<style>
			 body        { padding-top:80px; }
		</style>
    <meta charset="utf-8">
    <title>Game Register</title>
	</head>
	<body>
    
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %> 
		<form action="/register" method="post">
		  <div class="container">
        <h1>Register</h1>
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="email" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" required>

			<button type="submit" class="btn btn-success">Register</button>
       <p> If you already have an account please <a href="/login" class="btn btn-warning" >Login</a></p>
		  </div>
		</form>
	</body>
</html>